1.project_zero/src/main/mule/1.project_zero.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43d4ff85-1a77-4133-9fb8-b35e0b632f1f" doc:description="https configuration for http listner" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="1.project_zeroFlow" doc:id="9de449b5-a14c-445b-b142-13e68dfbccc7" >
		<http:listener doc:name="Listener" doc:id="4b090d52-d64a-4ba0-8617-4d94b66b1c19" config-ref="HTTP_Listener_config" path="/project-zero" allowedMethods="GET">
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="78e8d120-8d83-4fab-bebe-30d2059e876b" message='"Start log"'/>
		<set-payload value='#["Hello World from Payload"]' doc:name="Set Payload" doc:id="9ff22a03-a055-45a6-a253-84062cae92a0" />
	</flow>
</mule>
